*{margin: 0;
padding: 0;}
.menu-container{
background-color: rgb(37, 36, 36);
list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
} .img{
width: 100px; height: 110px;
padding: 20px;

}
.menus{
color: lightblue;
display: flex;
}
.item{
margin-right: 10px;
padding: 10px;
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;

}
.item:hover{
color: rgb(81, 81, 99);

}
.banner-img{
width: 550px;

}
.banner-container{
display: flex;
justify-content: space-around;
align-items: center;
height: 450px;
border: 2px solid gray;
background-image: url(mustard\ field.png);
background-size: cover;
}
.title{font-size: 55px;
font-weight: bold;}
span{
    font-size: larger;
    background-color: blue;
}
.description{
font-size: 18px;
margin-top: 15px;
margin-bottom: 15px;

}
.btn{
    padding: 10px 20px ;
    background-color: rgb(53, 8, 53);
    color: rgb(172, 156, 156);
    border: none;
    
}
.abt-container{
display: flex;
justify-content: space-around;
align-items: center; padding: 10px;


}
.img3{
width: 550px;

}
.abt-ttl{
    text-align: center; padding: auto;
}